@charset "utf-8";

.row {max-width: 960px;
    margin: 0 auto;}
body {font-family: 'MargenGodic';
    font-size: 16px;
    color: #333;}
#header{box-shadow: 0px 2px 3px #ddd;
    position: relative;
    z-index:99;}
/* #header .inner:after {content: '';display: block;
    clear: both;} */
/* 블록요소가 float을 가지면 넓이는
   자식한테 맞춰짐 */
#header h1 {float:left;
    width: 40%;}
#header nav {float:right;
    width: 60%;
    margin-top: 35px;}
    /* border: 1px solid #000;} */
/* 자식이 float속성을 가지므로 부모의 높이가
   무너질때 , 부모박스 바깥쪽에 overflow:hidden
   공식을 쓰지않고 아래의 공식을 사용하도록 함 */
/* #header nav .depth1::after{content:'';
    display: block; clear: both;} */
#header nav .depth1 > li {
    float:left;
    width:33.33%;
    text-align:center;
    position: relative;}
#header nav .depth1 > li > a {
    display:block;
    padding: 13px 0px;}
#header nav .depth1 > li:hover > a {
    background: #009688;
    color: #ffffff;}
.depth2 {position: absolute;
    top:100%;
    left:0%;
    width:100%;
    background: rgba(255,255,255,0.6);
    display: none;
    z-index: 999;}
#header nav .depth1 > li:hover .depth2{
    display: block;}
.depth2 li {line-height: 2;}
.depth2 >li >a {display: block;}
.depth2 >li:hover{background:#009688;
    color: #fff;}
/* 섹션시작 */
#section .slide > div {
    position: relative;}

#section .slide > div>.text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50% ,-50%);
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 20px 40px;
    border-radius: 15px;}

#section .slide > div>.text h2{
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;}

#section .slide > div>.text p {
    font-size: 26px;}

#section .ntpt {padding: 20px 0px;
    overflow: hidden;}

#section .ntpt h2 {font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;}

#section .notice{float:left; width:48%;}
#section .partner{float:right; width:48%;}
.notice table {font-size: 12px;
    border-top: 1px solid #000;}
.notice col:nth-child(1){width:auto}
.notice col:nth-child(2){width:85px;}
.notice table td,.notice table th {
    /* border: 1px solid #000; */
    padding:10px 8px;
    /* 칸안의 내용이 두줄이상일때 한줄로만 
       보이게 하고 말줄임표 표시*/
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;}

.notice table td:nth-child(2){text-align: right;}

/* 홀수 :nth-child(2n+1),nth-child(odd)
   짝수 :nth-child(2n),:nth-child(even) */
.notice table tbody tr:nth-child(odd){
    background: lime;}

.partner .inscom {text-align: center;
    margin: 15px 0px 20px;}    

.partner .inscom a:nth-child(1) >img {
    width: 50%;
    padding-right:20px;}
.partner .inscom a:nth-child(2) >img {
    width: 32%}

#modal {
    position: fixed;
    top:0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999999;
    display: none;}
#modal:target{display: block;}
#modal .inner {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 30px;}
#modal .inner a {
    display:block;
    text-align: center;
    background: #009688;
    width: 70px;
    padding:15px 0px;
    color: #fff;
    border-radius: 10px;
    margin: 30px auto 0;}
.partner .mainpjt span {
    display: block;
    font-size: 18px;}
.partner .mainpjt span:nth-child(2){
    text-align: center;
    padding: 33px 0px;}
.partner .mainpjt span:nth-child(3){
    text-align: right;}
#section article:nth-child(3) ul{
    overflow: hidden;}
#section article:nth-child(3) li {
    float: left; width: 33.33%;
    text-align: center;
    padding: 30px 20px;}
#section article:nth-child(3) li img {
    display:block;
    margin: 0 auto;}
#section article:nth-child(3) li a{
    display:inline-block;
    padding: 15px 20px;
    background: #009688;
    color: #fff;
    font-size: 25px;
    border-radius: 15px;}
#footer {
    background: #009688;
    color: #fff;
    padding: 30px 0;}
#footer ul {float: left;}
#footer ul li{display: inline-block;
    font-size: 18px;
    margin: 20px 20px 0 0;}
#footer pre {float: right;
    font-size:12px;
    line-height: 1.5;
    font-family: 'NanumGodic';}
